@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Original';
    src: url('/original.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

.image-rendering-pixel {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}
